<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<form action="/home/trade/index">
		<input type="text" name="key"><br>
		<input type="text" name="start"><br>
		<select name="price">
			<option>价格高</option>
			<option>价格低</option>
			<option selected="selected">无所谓</option>
		</select><br>
		<select name="campus">
			<option>南校区</option>
			<option>北校区</option>
			<option selected="selected">无所谓</option>
		</select>
		<input type="submit" name="submit" value="搜索">
	</form>
</body>
</html>