<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<form action="/login" method="post" enctype="multipart/form-data">
		学生姓名：<input type="text" name="student_name"/><br>
		学生学号：<input type="text" name="student_no"/><br>
		user_name：<input type="text" name="user_name"/><br>
		照片：<input type="file" name="card_href"/><br>
		face：<input type="file" name="face_href"><br>
		<img src="http://132.232.81.249:81/images/item/2/0000000000000095_1.JPG">
		<input type="submit" value="upload">
	</form>
</body>
</html>c